<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206717758403-it0ma0ncdk8ia7g28vn2hljoo186o2do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206717758403-it0ma0ncdk8ia7g28vn2hljoo186o2do</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206717758403-t1apud6jcu5khmaefloe8oro68d6gdbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrSrtFznPUkgTWhswrDHUmrkrYKVqBjGY</string>
	<key>GCM_SENDER_ID</key>
	<string>206717758403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>docucare-92bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>docucare-92bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206717758403:ios:d81c9a83b38ce508e7ab76</string>
</dict>
</plist>